extends layout

block content
    .container.login(ng-controller='listCtrl', ng-init="token='" + token + "';")
        .content.row
            .col-md-12
                span.label.label-success.block-username
                    if username
                        .icon-username U
                        .label-username(style='display: none;') !{username.data['name']}
                    else
                        script(type='text/javascript').
                            window.location.reload();
                .pp-list
                    ul
                        if pplist
                            each item in pplist
                                li
                                    .list-wrapper
                                        .list-head
                                            - var pic = '';
                                            if item.owner.avatar.match('qbox')
                                                - pic = item.owner.avatar;
                                            else
                                                - pic = 'http://coding.net' + item.owner.avatar;
                                            a(ng-href='https://coding.net/u/#{item.owner.name}')
                                                img(width='45', height='45', src= pic, class="comment-list-avatar img-circle")
                                            span.username !{item.owner.name}
                                            span.create-at {{#{item.created_at} | date:'yyyy-MM-dd HH:mm:ss'}}
                                            span.reply(title= item.comments+'回复') !{item.comments}
                                        p.list-content
                                            !{item.content}
                                        div.comment-box.detail-comment-list.hide
                                            // - ALL scope token looks like doesn't support replay
                                            //.comment-box-reply
                                            //    form(name='replyForm', ng-submit='replySubmit()')
                                            //        input(type='hidden', value= item.id, ng-init="tweetId='" + item.id + "'")
                                            //        textarea.comment-box-content(ng-model='replyContent') @!{item.owner.name}
                                            //        input.glyphicon.glyphicon-ok(type='submit')
                                            each comment in item.comment_list
                                                div.comment-detail
                                                    - var commentAvatar = '';
                                                    if comment.owner.avatar.match('qbox')
                                                        - commentAvatar = comment.owner.avatar
                                                    else
                                                        - commentAvatar = 'http://coding.net' + comment.owner.avatar;
                                                    img(width='45', height='45', src= commentAvatar, alt='', class='comment-list-avatar img-circle')
                                                    a(id= comment.tweet_id, name= comment.tweet_id)
                                                    p.comment-list-name !{comment.owner.name}
                                                    .comment-list-create {{#{comment.created_at} | date:'yyyy-MM-dd HH:mm:ss'}}
                                                    .comment-list-content !{comment.content}
                        else
                            script(type='text/javascript').
                                window.location.reload();
